span.menu-burger {
  @include menuBurger;
  height: 3px;
  top: 2rem;
  position: absolute;
  &:before {
    @include menuBurger;
    height: 3px;
    position: absolute;
    bottom: 0;
    margin: 9px 0;
  }
  &:after {
    @include menuBurger;
    height: 8rem;
    background-color: transparent;
    position: absolute;
    border-top: 4px solid $orange-color;
    bottom: 0;
    margin: 26px 0;
    top: -4.5rem;
    left: 0rem;
  }
}

.anim-class.menu-burger {
  width: 5rem;
  transform: rotate(400deg);
  &:after {
    width: 9rem;
    border-radius: 50px;
    left: -2rem;
    top: -6.5rem;
    transform: rotate(-40deg);
  }
  &::before {
    width: 5rem;
    transform: rotate(100deg) translateX(10px);
  }
}

.nav-active {
  width: 175px;
  ul {
    li {
      opacity: 1;
      display: block;
      transition: 1s;
      right: 0;
      a {
        animation: anim2Burger 1s;
      }
      .active-link {
        animation: animBurger 1s;
      }
    }
  }
}
@keyframes animBurger {
  0% {
    color: unset;
  }

  100% {
    color: $orange-color;
  }
}

@keyframes anim2Burger {
  0% {
    color: transparent;
  }

  100% {
    color: $font-color;
  }
}
