header {
  .full-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  span.menu-burger {
    display: none;
  }
  nav {
    background-color: $primary-bg;
    border-radius: $primary-border-radius 0 0 $primary-border-radius;
    width: 400px;
    height: 75px;
    margin: 0 0 0 auto;
    ul {
      align-items: center;
      height: 100%;
      justify-content: space-between;
      padding: 0 2rem;
      display: flex;

      li {
        right: 100rem;

        a {
          color: $font-color;
          transition: 0.25s;
          &:hover {
            color: $orange-color;
          }
        }
        .active-link {
          color: $orange-color;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  header {
    span.menu-burger {
      display: inline-block;
    }
    margin: 3rem 5rem;
    h1 {
      margin: 0;
      padding: 0 0 1rem 0;
    }
    nav {
      transition: 1s;
      position: absolute;
      top: 7rem;
      right: -5rem;
      width: 0;
      height: max-content;

      ul {
        flex-direction: column;

        li {
          position: relative;
          right: -10rem;
          opacity: 0;
          margin: 1.5rem;
          width: 175px;
          text-align: center;
          transition: 1s;
          color: transparent;
        }
      }
    }
    > div {
      width: 100%;
      div {
        width: 4rem;
        position: relative;
        cursor: pointer;
        height: 4rem;
      }
    }
  }
}
