//font-face

@font-face {
    font-family: regular;
    src: url("../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: bold;
    src: url("../assets/fonts/Poppins-Bold.ttf");
}

//variable

$primary-font: regular;
$secondary-font: bold;